{% extends "base.html"%}
        {%block title %}
            ZerothAve-Books
        {% endblock %}

       

{% block content %}
        {% if articles %}

         {% for article in articles %}
            <div class="cell">
            <div class="article_link"><a href={{article.link}} target="_blank">
            <div class="article_title"><p>{{ article.title|e }}</p></div>
            <div class="article_img"><img src={{article.imgLink}} alt="enjoy reading"/></div>
             </a></div>
           <div class="article_description"><p>{{ article.description|e }}</p></div>


            <hr>
            </div>
            {% endfor%}

        {% else %}

                <h3>{{errorMsg}}</h3>
        {% endif %}

{% endblock %}

