<html>
<head>
	<title>ZerothAve</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<div id="text" class="text-center"><p>0th Ave</p></div>
		</div>

		<div class="grid">
			<div class="row">
				<div class="span10">

					<div class="cubic" onmouseover="style.backgroundColor='#96c63f';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/story"> <div class="cubicInner"><p class="text-center">Story</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#FFB90F';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/opinion"> <div class="cubicInner"><p class="text-center">Opinion</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#87CEFA';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/technology"> <div class="cubicInner"><p class="text-center">Tech</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#FFDEAD';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/man"> <div class="cubicInner"><p class="text-center">Man</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#dc143c';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/art"> <div class="cubicInner"><p class="text-center">Art</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#BF3EFF';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/woman"> <div class="cubicInner"><p class="text-center">Woman</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#00BFFF';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="books"> <div class="cubicInner"><p class="text-center">Books</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#B3EE3A';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/travel"> <div class="cubicInner"><p class="text-center">Travel</p></div></a></div>
					<div class="cubic" onmouseover="style.backgroundColor='#FFA07A';" onmouseout="style.backgroundColor='#EFEFEF'"><a href="/life"> <div class="cubicInner"><p class="text-center">Life</p></div></a></div>
				</div>
		</div>


	</div>

</body>
</html>